h1{
    font-family: 'Poppins', sans-serif;
    font-size: 70px;  
    color: #FFFFFF;
    margin-top: 0px;
    margin-bottom: 0px;
    background-image: url(Imagens/background1.png);
    text-align: center;
    margin: 0;
    padding: 0;
}
h2{
    font-family: 'Poppins', sans-serif;
    text-align: center;
}


body{
    background-color:#D6E4FF;
   
    margin: 0;
   padding: 0;
}


#enviar { /*Refere-se ao botão de "enviar" da página*/
    background-color: #5A67D8; /*Cor do fundo*/
    color: white; /*Cor da letra*/
    padding: 10px 20px; /*Margem interna do botão*/
    border: none; /*Retira a borda*/ 
    border-radius: 6px; /*Arredonda a borda*/
    cursor: pointer; /*Faz aparecer uma mãozinha quando passa o mouse por cima do botão*/
}
#enviar:hover {
    background-color: #434190; /*Faz a cor do botão mudar quando o mouse passar por cima dele*/
}
/*------------------------------------------------------------------------------------------------------------*/


/*--------------------------------------------------------------------------------------------------------------*/

#presencial {
    cursor: pointer;
}

#online{
    cursor: pointer;
}

#termo{
    cursor: pointer;
}

#nome{
    border:none;
    border-radius: 6px;
}

#email{
    border: none;
    border-radius: 6px;
}

#p{
    background-color: beige;
}

.foto{
    border-radius: 16px;                
}


.caixa{ /*Isso mexe no que está DENTRO da caixa, precisa criar uma div dentro da outra para mover ela por completo*/
    width: 500px; /* Largura */
    height: auto; /* Altura*/
    border: 2px solid #2036FD; /* Deixa a borda visível */
    border-radius: 16px;
    display: flex;
    align-items: center;
    flex-direction: column;
    min-height: 470px;     
}


.movercaixa{    /*Move o que está FORA da caixa, é o que fica na <div> de fora, vai centralizar a borda da caixa, basicamente*/  
    display: flex;
    justify-content: center;    
    align-items: center;  
    position: relative;
    gap: 20px; /*Espaço entre as caixas*/
    flex-wrap: wrap; /*Serve pra ajustar os elementos de acordo com o tamanho da tela, RESPONSIVIDADE*/
    
    
}


#nossospalestrantes{
    text-align: center;
}

p{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: black;
    text-align: center;
}

h3{
    text-align: center;
    color: black;
}

header{
   background-image: url(Imagens/background1.png);
   margin: 0px;
   padding: 0;
}

.corpo{
    background-image: url(Imagens/background4.png);
    margin: 0px;
    background-repeat: no-repeat;
    background-size: cover;
}

#savethedate{
    text-align: center;
}